<h1>Cart</h1>

{{#if cart}}
  <p> id carrito: {{cart._id}}</p>

  {{#each cart.products}}
    <div class="container">
      <p> Product: {{this.product}}</p>
      <p> Quantity: {{this.quantity}}</p>
    </div>
  {{/each}}
{{else}}
  <p>Not found cart</p>
{{/if}}