<div class="container">
  <h1 class="title">Mi carrito</h1>
</div>

<div>
  <table class="table">
    <thead>
   <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Categoría</th>
        <th scope="col">Stock</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
   </tr>
    </thead>
    <tbody id="cartContainer">

    </tbody>
  </table>

</div>
<div>
  <p>Total: ${{total}}</p>
</div>


<div class="btnContainer">
  <a href="/products"><input
      class="btn btn-primary btn-a"
      type="submit"
      value="Seguir comprando"
    /></a>
  <a href="/purchase"><input
      class="btn btn-success btn-a"
      type="submit"
      value="Finalizar compra"
      id="purchaseBtn"
    /></a>
</div>

<script src="/js/cart.js"></script>
