<div class="container">
  <h1>PRODUCTOS IMPORTADOS Y NACIONLES</h1>
  <h3>Somos del caribe y te traemos mucho sabor para alegrarte la vida</h3>
  <div class="row mt-3 text-center">
    
    <a href="/register"><button
        class="btn btn-success mt-3"
      >Registrarse</button></a>
  </div>

  <div class="row mt-3 text-center">
    <a href="/login"><button class="btn btn-success mt-3">Iniciar sesión</button></a>
  </div>

  <div class="row mt-3 text-center">
    <h3>Ingresar con Google</h3>
    <a href="/api/sessions/google"><button
        class="btn btn-success mt-3"
      >Google</button></a>
  </div>

</div>

<script src="js/home.js"></script>