<h1>Bienvenido a MyEcommerce</h1>

<h3>Si aún no eres nuestro cliente, puedes registrarte aquí</h3>
<a href="/register"><button
    class="btn"
  >Registrarse</button></a>

<h3>Si ya eres cliente, inicia sesión aquí</h3>
<a href="/login"><button class="btn">Iniciar sesión</button></a>