<h1>Login</h1>
<br>
<br>
<div>
    <form id="login-form">
        <label>Email</label><input name="email">
        <br>
        <label>Password</label><input name="password">
        <input type="Submit">
    </form>
</div>

<h5>To register <a href="/register">click here</a></h5> 

Tambien puedes ingresar por <a href="/api/sessions/github"><button>GITHUB</button></a>


<script src="/js/login.js"></script>