<h1 class="title">Bienvenido</h1>

<form class="formProducts" id="loginform">
  <label class="label">Email</label>
  <input class="controls" name="email" />

  <label class="label">Contraseña</label>
  <input class="controls" name="password" />

  <input class="btn btn-success" type="submit" />
</form>

<p>¿Olvidaste tu Contraseña? Puedes reestablecerala
  <button class="btn btn-danger" onclick="restorePassword()">haciendo click aqui</button></p>

<script src="/js/login.js"></script>