<h1>Register First</h1>

<form id="register-form">
  <label>Name</label>
  <input name="firstName" />
  <br />
  <label>Last Name</label>
  <input name="lastName" />
  <br />
  <label>Email</label>
  <input name="email" />
  <br />
  <label>Password</label>
  <input name="password" />
  <br />
  <input type="submit" />
</form>

<script src="/js/register.js"></script>