<h1>Register User</h1>
<br>
<br>
<div>
    <form id="register-Form">
        <label>Name</label><input name="firstName">
        <br>
        <label>LastName</label><input name="lastName">
        <br>
        <label>Email</label><input name="email">
        <br>
        <label>Password</label><input name="password">
        <input type="submit">
    </form>
</div>

<script src="/js/register.js"></script>